.about {
  &__body {
    padding: 70px 0;
    display: grid;
    grid-template-columns: 35% 65%;

  }

  &__left {
    h4 {
      color: #b9a889;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    h2 {
      font-family: "Rufina", serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 62px;
      margin-bottom: 10%;
    }

    p {
      color: #615d5b;
      margin-bottom: 10px;
    }
  }

  &__right {
    img {
      width: 100%;
    }
  }
}

@media(max-width: 500px) {
  .about__body {
    padding: 40px 0;
    grid-template-columns: 80%;
    // align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about__left {
    h2 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 5%;
    }

    p {
      text-align: left;
    }
  }
}

@media(max-width: 400px) {
  .about__left h4 {
    margin-bottom: 10px;
  }

  .about__left h2 {
    font-size: 25px;
    line-height: 30px;
    }
}