.awards {
  $time: 500ms;
  $delay: $time/2;
  $mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);
  @keyframes heartbeat {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  &__title {
    background-image: url(../img/awards_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.466);
    }

    h4 {
      position: relative;
      z-index: 2;
      text-align: center;
      color: #ffffff;
      font-family: "Rufina", serif;
      font-size: 3.667em;
      font-weight: 700;
      font-style: normal;
      line-height: 1em;

      letter-spacing: -1.4px;
    }
  }
  body {
    color: #ffffff;
    background-color: #27292d;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    // height: 1200px;
  }
  .slider-container {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    
    .slider-content {
      position: relative;
      left: 50%;
      top: 45%;
      width: 90%;
      height: 80%;
      transform: translate(-50%, -50%);
      .slider-single {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: z-index 0ms $delay;
        .slider-single-image {
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
          transition: $time $mode;
          transform: scale(0);
          opacity: 0;
        }
        .slider-single-download {
          position: absolute;
          display: block;
          right: -22px;
          bottom: 12px;
          padding: 15px;
          color: #333333;
          background-color: #fdc84b;
          font-size: 18px;
          font-weight: 600;
          font-family: "karla";
          border-radius: 5px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          transition: $time $mode;
          opacity: 0;
          &:hover,
          &:focus {
            outline: none;
            text-decoration: none;
          }
        }
        
        
        &.preactivede {
          //z-index: 0;
          .slider-single-image {
            //opacity: 0;
            transform: translateX(-50%) scale(0);
          }
        }
        &.preactive {
          z-index: 1;
          .slider-single-image {
            opacity: 0.3;
            transform: translateX(-25%) scale(0.8);
          }
          .slider-single-download {
            transform: translateX(-150px);
          }
          .slider-single-title {
            transform: translateX(-150px);
          }
          .slider-single-likes {
            transform: translateX(-150px);
          }
        }
        &.proactive {
          z-index: 1;
          .slider-single-image {
            opacity: 0.3;
            transform: translateX(25%) scale(0.8);
          }
          .slider-single-download {
            transform: translateX(150px);
          }
          .slider-single-title {
            transform: translateX(150px);
          }
          .slider-single-likes {
            transform: translateX(150px);
          }
        }
        &.proactivede {
          //z-index: 0;
          .slider-single-image {
            //opacity: 0;
            transform: translateX(50%) scale(0);
          }
        }
        &.active {
          z-index: 2;
          .slider-single-image {
            opacity: 1;
            transform: translateX(0%) scale(1);
          }
          .slider-single-download {
            opacity: 1;
            transition-delay: 100ms;
            transform: translateX(0px);
          }
          .slider-single-title {
            opacity: 1;
            transition-delay: 200ms;
            transform: translateX(0px);
          }
          
        }
      }
    }
    .slider-left {
      position: absolute;
      z-index: 3;
      display: block;
      right: 95%;
      top: 45%;
      color: #fdc84b;
      transform: translateY(-50%);
      padding: 20px 15px;
      border: 2px solid #fdc84b;
      
      margin-right: -2px;
      &:hover {
        cursor: pointer;
        border: 2px solid black;
        transition: 300ms;
      }
    }
    .slider-right {
      position: absolute;
      z-index: 3;
      display: block;
      left: 95%;
      top: 45%;
      color: #fdc84b;
      transform: translateY(-50%);
      padding: 20px 15px;
      border: 2px solid #fdc84b;

      
      margin-left: -2px;
      &:hover {
        cursor: pointer;
        border: 2px solid black;
        transition: 300ms;
      }
    }
    .not-visible {
      display: none !important;
    }
  }
}

// media

@media(max-width:500px) {
  .awards {
    .slider-container {
      width: 380px;
      height: 280px;

      .slider-right, .slider-left{
        padding: 7px 6px;
      }
    }

    &__title {
      h4 {
        font-size: 24px;
        word-spacing: 5px;
      }
    }
  }


}

@media(max-width: 400px) {


  .awards {
    .slider-container {
      width: 300px;
      height: 230px;

      .slider-content {
        width: 80%;
        height: 75%;
      }
    }
  }

}