

.courses {
  padding: 50px 0 0;

  &__title {
    color: #3e2b26;
    font-family: "Rufina",serif;
    font-size: 4.667em;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 0.933em;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #b9a889;
    margin-top: 1.2em;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2%;
    row-gap: 12%;

    // margin: auto;
    margin-top: 8%;
    margin-bottom: 10%;
    width: 100%;

  }

  &__card {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding:15px 5px ;
    border-radius: 10px;

    &:hover {
      transition:ease-in 300ms;
      box-shadow: 0px 5px 10px #000;
      cursor: pointer;
    }

    &:hover .top {
      transition:ease-in 300ms;
      border: none;
      width: 90%;
      // height: 100%;
      border-radius: 5px;
    }
    &:active {
      transform: scale(1.1);    
      transition:ease-out 200ms;

    }

    &__top1 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/fortepiano1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;

     
     
    }
    &__top2 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/dutor.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;

     
     
    }
    &__top3 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/teatr.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;

     
     
    }
    &__top4 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/estrada.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;

     
     
    }
    &__top5 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/art.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 90%;
      pointer-events: none;

     
     
    }
    &__top6 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/amaliy1.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;

     
     
    }
    &__top7 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/opera.jpg);
      background-position: 0% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;

      
     
     
    }
    &__top8 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/guitar.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;

     
     
    }

    h3 {
      color: #3e2b26;
      margin-top: 10%;
      text-align: center;
      pointer-events: none;

      
    }

    p {
      color: #615d5b;
      text-align: center;
      margin-top: 5%;
      pointer-events: none;
    }
  }


  // modal

  &__modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 10;
    top: 0%;
    left: 0%;

   

    .course__close_btn {
     
      color: #fff;
      font-size: 50px;

      position: fixed;
      right: 2%;
      top: 2%;

      &:hover {
        color: rgba(255, 217, 0, 0.938);
        cursor: pointer;
        transition: 500ms;
      }
    }


    &__body {
      margin-top: 70px;
      display: grid;
      grid-template-columns: 50% 38%;
      column-gap: 2%;
    }

    &__left {
      background-color: #615d5b;
      height: 500px;
      margin-left: 50px;
    }

    &__right {
      background-color: gold;
      height: 500px;
    }
  }
}

.d_block {
  display: block;
}

.d_none {
  display: none;
}