.courses {
  padding: 50px 0 0;

  &__title {
    color: #3e2b26;
    font-family: "Rufina", serif;
    font-size: 4.667em;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 0.933em;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #b9a889;
    margin-top: 1.2em;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2%;
    row-gap: 12%;
    justify-content: center;

    // margin: auto;
    margin-top: 8%;
    margin-bottom: 10%;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 15px 5px;
    border-radius: 10px;

    &:hover {
      transition: ease-in 300ms;
      // box-shadow: 0px 5px 10px #000;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
    }

    &:hover .c__top {
      transition: ease-in 300ms;
      border: none;
      width: 90%;
      // height: 100%;
      border-radius: 5px;
    }

    &:active {
      transform: scale(1.1);
      transition: ease-out 200ms;
    }

    .c__top {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      pointer-events: none;

    }

    &__top1 {

      background-image: url(../img/course/fortepiano1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__top2 {

      background-image: url(../img/course/dutor.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__top3 {

      background-image: url(../img/course/teatr.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__top4 {

      background-image: url(../img/course/estrada.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__top5 {

      background-image: url(../img/course/art.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 90%;
    }

    &__top6 {

      background-image: url(../img/course/amaliy1.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__top7 {

      background-image: url(../img/course/opera.jpg);
      background-position: 0% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__top8 {

      background-image: url(../img/course/guitar.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    h3 {
      color: #3e2b26;
      margin-top: 10%;
      text-align: center;
      pointer-events: none;
    }

    p {
      color: #615d5b;
      text-align: center;
      margin-top: 5%;
      pointer-events: none;
    }
  }

  // modal

  &__modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 40;
    top: 0%;
    left: 0%;

    .course__close_btn {
      color: #fff;
      font-size: 50px;

      position: fixed;
      z-index: 40;
      right: 2%;
      top: 2%;

      &:hover {
        color: rgba(255, 217, 0, 0.938);
        cursor: pointer;
        transition: 500ms;
      }
    }

    &__body {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 50% 45%;
      column-gap: 2%;
    }

    &__left {
      // background-color: #615d5b;
      height: 500px;
      margin-left: 30px;
      overflow: hidden;

      .carousel {
        margin-top: 0;
      }

      .courses__carousel {


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &__right {
      background-color: gold;
      height: 500px;
      padding: 20px;

      .right__top {
        .c1 {
          margin-bottom: 20px;
        }

        .c2 {
          font-style: italic;
          font-size: 19px;
          margin-bottom: 10px;
        }

        .c3,
        .c4 {
          font-weight: 700;
        }
      }

      .right__bottom {
        margin-top: 10px;
      }
    }
  }
}

.d_block {
  display: block;
}

.d_none {
  display: none;
}

@media(max-width: 500px) {
  .courses {
    padding: 20px 0 60px;

    &__wrapper {
      row-gap: 2%;
      grid-template-columns: 40% 40%;
    }

    &__title {
      font-size: 3em;

    }

    &__card {
      // .c__top {
      //   width: 90px;
      //   height: 90px;
      // }

      h3 {
        font-size: 18px;
      }

      p {
        display: none;
      }
    }

    &__modal__right .right__top .c1 {
      font-size: 18px;
    }

    &__modal__right .right__top .c2 {
      font-size: 10px;
    }
  }

  .courses__modal__right .right__top .c3,
  .courses__modal__right .right__top .c4 {
    display: none;
  }

  .courses__modal__right .right__bottom {
    display: none;
  }




}


@media(max-width: 400px) {

  .courses__title {
    font-size: 2em;
  }

  .courses__subtitle {
    margin-top: 0;
  }

  .courses__card .c__top {
    height: 100px;
    width: 100px;
}
}