.courses {
  padding: 50px 0 0;

  &__title {
    color: #3e2b26;
    font-family: "Rufina",serif;
    font-size: 4.667em;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 0.933em;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #b9a889;
    margin-top: 1.2em;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2%;
    row-gap: 12%;

    // margin: auto;
    margin-top: 8%;
    margin-bottom: 10%;
    width: 100%;

  }

  &__card {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding:15px 5px ;
    border-radius: 10px;

    &:hover {
      transition:ease-in 300ms;
      box-shadow: 0px 5px 10px #000;
      cursor: pointer;
    }

    &:hover .top {
      transition:ease-in 300ms;
      border: none;
      width: 90%;
      // height: 100%;
      border-radius: 5px;
    }
    &:active {
      transform: scale(1.1);    
      transition:ease-out 200ms;

    }

    &__top1 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/fortepiano1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

     
     
    }
    &__top2 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/dutor.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
     
    }
    &__top3 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/teatr.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
     
    }
    &__top4 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/estrada.jpg);
      background-repeat: no-repeat;
      background-size: cover;
     
     
    }
    &__top5 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/art.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 90%;
     
     
    }
    &__top6 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/amaliy1.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
     
     
    }
    &__top7 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/opera.jpg);
      background-position: 0% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      
     
     
    }
    &__top8 {
      border: 1px solid gold;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      background-image: url(../img/course/guitar.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
     
    }

    h3 {
      color: #3e2b26;
      margin-top: 10%;
      text-align: center;
      
    }

    p {
      color: #615d5b;
      text-align: center;
      margin-top: 5%;
    }
  }
}