

#value {
  font: 800 40px system-ui;
}
#value1 {
  font: 800 40px system-ui;
}
#value2 {
  font: 800 40px system-ui;
}
#value3 {
  font: 800 40px system-ui;
}

.facts {
  padding: 30px 0;

  .im {
    width: 50px;
  }

  &__body {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    margin: 0 auto;
    column-gap: 2.6%;

  }

  &__item {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 80px;
      height: 80px;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}

@media(max-width: 500px) {
  .facts__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__left {
      width: 70px;
      height: 70px;

      .im {
        width: 45px;
      }
    }

    &__right {
      text-align: center;

      h4 {
        font-size: 20px;
      }
    }
  }
}