* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Slab', serif;

}

a {

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6,p {
  margin: 0;
}

.container {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  #up {
    display: block;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 50px;
    font-size: 40px;
    animation: up 10s infinite;
    i {
      color: #3b3004;
    }
  }
  
  @keyframes up {
    0% {
      transform: translateY(0px);
    }
  
    1% {
      transform: translateY(-10px);
    }
  
    2% {
      transform: translateY(0px);
    }
  
    3% {
      transform: translateY(-10px);
    }
  
    4% {
      transform: translateY(0px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }